@page "/cofs"
@inject ICOFService COFService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Chart of Account</PageTitle>
<h3>Chart of Account</h3>

<button class="btn btn-primary" style="float:right" @onclick="CreateNewCOF">Create</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cof in COFService.COFmodels)
        {
            <tr>
                <td>@cof.Id</td>
                <td>@cof.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="(()=>ShowCOF(cof.Id))"><i class="oi oi-pencil" /></button>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="(()=>DeleteCOF(cof.Id))"><i class="oi oi-trash"/></button>
                </td>
            </tr>
        }
    </tbody>
</table>



@code{
    protected override async Task OnInitializedAsync()
    {
        await COFService.GetCOF();
    }
    void ShowCOF(int id)
    {
        NavigationManager.NavigateTo($"cof/{id}");
    }
    void CreateNewCOF()
    {
        NavigationManager.NavigateTo("/cof");
    }
    async Task DeleteCOF(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            await COFService.DeleteCOF(id);
        }
    }
}
